@font-face {
    font-family: raw;
    src: url(./RawDeltaHandStreet-DEMO.ttf);
}

@font-face {
    font-family: kajiro;
    src: url(./kajiro.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}

#nav {
    height: 80px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#Lnav {
    height: 100%;
    cursor: pointer;
}

#Lnav img {
    height: 80%;

}

#Rnav {
    height: 100%;

}

#Rnav i {
    cursor: pointer;
    color: white;
    margin-right: 20px;
    font-size: 30px;
}

#center {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(68, 153, 51); */
    /* position: relative; */
    display: flex;
    padding-top: 60px;
    /* align-items: center; */
    justify-content: space-between;
}

#Lcenter {
    position: relative;
    width: 50%;
    height: 100%;


}

#Lcenter #image {
    width: 100%;
    height: 400px;
    background-color: palevioletred;
    position: absolute;
    left: -25%;
}

#image>img {
    width: 150%;
}

#box {
    left: 50px;
    top: 450px;

    position: absolute;

    width: 2.4vw;

}

#box>p {

    height: 100%;
    padding: 7px;
    border: 0.5px solid rgba(255, 255, 255, 0.637);
    font-size: 10px;
}

#Rcenter {
    position: relative;
    right: 0;
    width: 60%;
    height: 100vh;
    overflow: hidden;
}

#Rcback {

    letter-spacing: 9px;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;

}

#Rctop {
    /* background-color: palegoldenrod; */
    width: 70%;
    height: 50%;
    font-family: kajiro;
    font-weight: 100;
    font-stretch: 60px;
    left: 10%;
    top: 30%;
    z-index: 999;
    position: absolute;
}

#Rctop>h3 {
    font-size: 3vw;

}

#Rctop>p {
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.63);
    padding-bottom: 20px;
    font-size: 1vw;
}

#Rctop>h4 {

    font-size: 3.5vw;
    font-weight: 100;
    cursor: pointer;
}

.hover-3 {
    --b: 0.5vw;
    /* the thickness of the line */
    --c: #ff7b00;
    /* the color */

    border-radius: 30px;
    color: #acacac80;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.hover-3:hover {
    --_p: 100%;
    --_s: .3s;
}

#Rcenter h1 {
    color: rgba(189, 114, 2, 0);
    align-items: center;

    font-family: raw;
    font-size: 30vw;
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.178);
}

#footer {
    position: absolute;
    bottom: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    padding-right: 4vw;
    align-items: center;
    justify-content: end;
    cursor: pointer;

}

#footer>a {

    font-size: 1.5vw;
    padding: 0 1vw;
    right: 0;
    text-decoration: none;
    color: white;

}